# App
APP_NAME=JobFlow
DEBUG=True
APP_ENV=development

# PostgreSQL
POSTGRES_USER=jobflow
POSTGRES_PASSWORD=jobflow
POSTGRES_DB=jobflow
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://jobflow:jobflow@localhost:5432/jobflow

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379/0

# RabbitMQ
RABBITMQ_USER=jobflow
RABBITMQ_PASSWORD=jobflow
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_URL=amqp://jobflow:jobflow@localhost:5672//
